.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5rem;
}

.coin-table {
  width: 100%;
  overflow-x: scroll;
}

.coin-table::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.coin-table table {
  width: 100%;
  border-collapse: collapse;
}

.coin-table th,
.coin-table td {
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.coin-table th {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  font-size: 1.5rem;
  font-weight: 700;
}


.coin-table tbody tr:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.pagination button {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #f3f2f4;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.pagination button.active {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  color: white;
}

.img-symbol {
  display: flex;
  align-items: center;
  gap: 8px;
}

.red {
  color: red;
}

.green {
  color: #0ecb81;
}
