
.navbar {
    background: transparent;
    color: #fff;
    padding: 2rem 0;
    font-family: "Space Grotesk", sans-serif;
    position: relative;
    z-index: 1; 
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .navbar-logo span {
    color: #59aae4;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 3rem;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.8rem;
    margin-top: 8px;
    z-index: 2; 
  }
  
  .close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    display: none;
    z-index: 3; 
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    position: fixed;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 70%;
    background: #110f1f;
    flex-direction: column;
    text-align: center;
    padding-top: 15rem;
    transition: right 0.3s ease;
    z-index: 1; 
  }
  
  .nav-menu.active {
    right: 0;
  }
  
  .nav-item {
    margin: 1rem 0;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links{
        display: none;
    }
    .menu-icon {
      display: block;
    }
  
    .nav-menu.active + .menu-icon.close {
      display: block;
    }
  
    .nav-menu {
      width: 100%;
    }
  }

  @media screen and (max-width: 400px) {
    .navbar-logo {
      font-size: 2rem;
    }

    .nav-menu {
      padding-top: 10rem;
    }

    .menu-icon {
      font-size: 1.5rem;
      
    }
  }
  